[Unit]
Description=Apply open.Yellow.os portable mode customizations
After=local-fs.target
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/oyo-portable-mode --boot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
