[Unit]
Description=oYo first boot setup
After=local-fs.target systemd-tmpfiles-setup.service
Before=gdm.service display-manager.service graphical.target
ConditionPathExists=!/var/lib/oYo/firstboot.done

[Service]
Type=oneshot
ExecStart=/usr/lib/custom/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target
