[Unit]
Description=oYo first boot setup
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/lib/custom/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
